/*

Darko Bunic
http://www.redips.net/
Oct, 2010.

*/

body{
	font-family: arial;
	background: black;
	padding: 0;
    margin: 0;
}

header {
	/*background-color: gray;*/
    background-color: black;
	color: white;
	width: 100%;
}

.header {
	text-decoration: none;
	font-weight: bold;
	color: white;
	padding-top: 10px;
	font-size: 28px;
}

.header1 {
	color:white;
	text-align: center;
	padding-top: 10px;
	width: 100%;
}

.header:hover {
	text-decoration: none;
	font-weight: bold;
	color: cornflowerblue;
}
.table-header {
	color: rosybrown;
	background-color: black;
	font-weight: bold;
}
/* make drag container visible */
#table-drag{

    width:100%;
	height: 72%;
	overflow: scroll;
}

/* table */
#table-drag table {
	width: 90%;
	margin-left: auto;
    margin-right: auto;
	background-color: #eee;
    /*width:100%;*/
	border-collapse: collapse;
	/*margin: 7px;*/
}

/* table cells */
div#table-drag td{
	cursor: pointer;
	border: 1px solid black;
	text-align: center;
	height: 6%;
	font-size: 10pt;
	padding: 2px;
}

/* drag object (DIV inside table cell) */
.table-drag {
	/*margin: auto;*/
	/*text-align: center;*/
	/*width: 87px;*/
	/*height: 35px;*/
	/*line-height: 35px;*/
	/*height: 6%;*/
	overflow: scroll;
	border: 2px solid cornflowerblue;
	background-color: white;
}
.table-drag:hover {
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}
/* "Load" button (needed for AJAX version) */
.button {
	margin: 10px;
	background-color: #6A93D4;
	color: white; 
	border-width: 1px;
	width: 44px;
	padding: 0px;
}

.centerButtons {
    text-align: center;
    /*float: center;*/
}
button {
    background-color: cornflowerblue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
button:active{
    background:rosybrown;
}
button:hover{
    background:rosybrown;
}
#form {
	text-align: center;
	color: white;
	background-color: black;
	font-weight: bold;
}