/*

Darko Bunic
http://www.redips.net/
Oct, 2010.

*/

body{
	font-family: arial;
	background: black;
	padding: 0;
    margin: 0;
}

header {
	/*background-color: gray;*/
    background-color: black;
	color: white;
	width: 100%;
}

.header {
	text-decoration: none;
	font-weight: bold;
	color: white;
	padding-top: 10px;
	font-size: 28px;
}

.header1 {
	color:white;
	text-align: center;
	padding-top: 10px;
	width: 100%;
}

.header:hover {
	text-decoration: none;
	font-weight: bold;
	color: cornflowerblue;
}
.header2 {
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	color: white;
	padding-top: 15px;
	font-size: 22px;
    padding-left:2em;
}
.header2:hover {
	text-decoration: none;
	font-weight: bold;
	color: rosybrown;
}
.table-header-inv {
	color: black;
	background-color: black;
	font-weight: bold;
}
.table-header {
	color: rosybrown;
	background-color: black;
	font-weight: bold;
}
/* make drag container visible */

#table-drag{
	width: 90%;
	max-height: 400px;
	overflow: scroll;

}

/* table */
#table-drag table {

	margin-left: auto;
    margin-right: auto;
	background-color: #eee;
    /*width:100%;*/
	border-collapse: collapse;
	/*margin: 7px;*/
}

/* table cells */
div#table-drag td{
	cursor: pointer;
	max-height: 5px;
	border: 1px solid black;
}

/* drag object (DIV inside table cell) */
.table-drag {
	/*margin: auto;*/
	/*text-align: center;*/
	/*width: 87px;*/
	/*height: 35px;*/
	/*line-height: 35px;*/
	/*height: 6%;*/
	border: 2px solid cornflowerblue;
	background-color: white;
}
.table-drag:hover {
}

/* "Load" button (needed for AJAX version) */
.button {
	margin: 2%;
	background-color: #6A93D4;
	color: white;
	border-width: 1px;
	width: 5%;
	padding: 0px;
}

.centerButtons {
    text-align: center;
    /*float: center;*/
}
button {
    border: none;
    color: white;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
button:active{
    background:rosybrown;
}
button:hover{
    background:rosybrown;
}
#form {
	text-align: center;
	color: white;
	background-color: black;
	font-weight: bold;
}
#form-init {
	text-align: center;
	color: white;
	background-color: black;
	font-weight: bold;
}