<!DOCTYPE HTML>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
    <link rel="stylesheet" href="/static/editStyle.css"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" ></script>
    <script type='text/javascript' src='http://midijs.net/lib/midi.js'></script>
    <script src="../static/midi_files/inc/shim/Base64.js" type="text/javascript"></script>
	<script src="../static/midi_files/inc/shim/Base64binary.js" type="text/javascript"></script>
	<script src="../static/midi_files/inc/shim/WebAudioAPI.js" type="text/javascript"></script>
    <script src="../static/midi_files/inc/shim/WebMIDIAPI.js" type="text/javascript"></script>

    <!-- jasmid package -->
	<script src="../static/midi_files/inc/jasmid/stream.js" type="text/javascript"></script>
	<script src="../static/midi_files/inc/jasmid/midifile.js" type="text/javascript"></script>
	<script src="../static/midi_files/inc/jasmid/replayer.js" type="text/javascript"></script>
	<!-- midi.js package -->
	<script src="../static/midi_files/js/midi/audioDetect.js" type="text/javascript"></script>
	<script src="../static/midi_files/js/midi/gm.js" type="text/javascript"></script>
	<script src="../static/midi_files/js/midi/loader.js" type="text/javascript"></script>
	<script src="../static/midi_files/js/midi/plugin.audiotag.js" type="text/javascript"></script>
	<script src="../static/midi_files/js/midi/plugin.webaudio.js" type="text/javascript"></script>
	<script src="../static/midi_files/js/midi/plugin.webmidi.js" type="text/javascript"></script>
    <script src="../static/midi_files/js/midi/player.js" type="text/javascript"></script>
    <script src="../static/midi_files/js/midi/synesthesia.js" type="text/javascript"></script>

	<!-- utils -->
	<script src="../static/midi_files/js/util/dom_request_xhr.js" type="text/javascript"></script>
	<script src="../static/midi_files/js/util/dom_request_script.js" type="text/javascript"></script>
    <script src="../static/midi_files/midi_file.js" type="text/javascript"></script>
    <script src="../static/midi_files/JZZ.Midi.js" type="text/javascript"></script>
    <script src="../static/midi_files/JZZ.MidiFile.js" type="text/javascript"></script>

</head>

<script>
data = [];
added_notes = new Set();
columns = [];
notes = [];
colors = [];
tempo = 128;
velocity = 127; //BUG IN FILE
numerator = 4;
denominator = 4;
duration_dict = {'w': tempo*4, 'h': tempo*2, 'q': tempo, 'e': tempo/2, 's': tempo/4};
num_squares = {'w': 4 * 4, 'h': 4 * 2, 'q': 4, 'e': 4/2, 's': 4/4};

window.onload = function () {
    data = {{ data|tojson }};
    columns = {{ columns|tojson }};
    colors = {{ colors|tojson }};
    notes = {{ notes|tojson }};

    if(data.length > 0) {
        var x = new Array(notes.length);
        //initialize Array
        for (var i = 0; i < x.length; i++) {
            x[i] = data[0][notes[i]];
        }
        var played_notes = makeTableHTML(x);
        merge(played_notes, duration_dict['q'], 90, tmp = "background-color: " +colors[0]+";");
        for(var i = 1; i < data.length; i++) {
            var y = new Array(notes.length);

            for(var j = 0; j < y.length; j++) {
                y[j] = data[i][notes[j]];
            }
            var n = addFile(y);
            merge(n, duration_dict['q'], 90, "background-color: " +colors[i]+";");

        }

    }
    else {
        for (var i = 0; i < 32; i++) {
            columns.push(i * (1/(numerator * denominator)))
        }
        var x = new Array(notes.length);
        //initialize Array
        for (var i = 0; i < x.length; i++) {
            x[i] = [];
        }
        makeTableHTML(x);
    }
    //merge cells in table
    MIDI.loadPlugin({
		    soundfontUrl: "../static/midi_files/examples/soundfont/",
		    instrument: "acoustic_grand_piano",
		    onprogress: function(state, progress) {
			    console.log(state, progress);
		    },
		    onsuccess: function(evt) {
                console.log(evt);
            }
    });
};

function createTracks() {
     //create tracks
    var tracks = [];
    alert("check1");
    var container = []; //go through table and push notes to container
    for (var i = 0; i < notes.length; i++)  {
        var temp = [];
        var temp_clock = []
        var c = duration_dict['s'];
        //var j = 0;
        //while (j < columns.length) {
        for(var j = 0; j < columns.length; j++) {

            var whichId =  MIDI.noteToKey[notes[i]] + "_" + columns[j].toString();

            var whichClass = document.getElementById(whichId).className;

            var x = document.getElementsByClassName(whichClass);
            //var temp = [];
            if(x.length > 0)  { //create note and push it to container
                //alert(whichClass);
                var duration_flag = whichClass.split("_")[2];

                var key = x[0].getAttribute("data-key");
                var duration = x[0].getAttribute("data-duration");
                var volume = x[0].getAttribute("data-volume");
                var note = {key: key, duration: duration, volume: volume, clock: c};
                temp.push(note);
                j = j + num_squares[duration_flag] - 1;
                 c += duration_dict['s'] *(num_squares[duration_flag] );
            }
            //PAUSE
            else {
                //var note = {key: 'C3', duration: duration_dict['s'], volume: 1, clock: c};
                //temp.push(note);
                c += duration_dict['s']
            }

        }
        if (temp.length > 0) {
            container.push(temp);
        }

    }
    return container;
}

function createSong(container) {
    var mf = new JZZ_.MidiFile(1,tempo);

    //create tracks! :
    for (var n = 0; n < container.length; n++) {
        var track = new JZZ_.MidiFile.MTrk;
        mf.push(track);

        track.addMidi(0,0xc0,0x0b);
        var name = 'music' + n.toString();
        track.addName(0,name);
        for (var m = 0; m < container[n].length; m++) {
            //tr2.addNote(100,0,'E5',127,50); // clock: 100, MIDI channel: 0, note: E5, velocity: 127, duration: 50 clocks
            track.addNote(container[n][m].clock, 0, container[n][m].key, velocity, container[n][m].duration);
            if (container[n][m].clock == 0) {
                track.addNote(container[n][m].clock, 0, container[n][m].key, velocity, container[n][m].duration);
            }

        }
    }

    //create file
    var str = mf.dump(); // MIDI file dumped as a string
    var b64 = JZZ_.MidiFile.toBase64(str); // convert to base-64 string
    return b64;
}
function playTable() {

    var container = createTracks();
    var b64 = createSong(container);
    var file = 'data:audio/midi;base64,' + b64; // data URI

    //create midi file

    MIDI.Player.loadFile(file, MIDI.Player.start);
    MIDI.Player.start();


}

function exportFile() {
    var filename = prompt("Please enter file name", "file name");
    var container = createTracks();
    var b64 = createSong(container);
    var song = 'data:audio/midi;base64,' + b64; // data URI


    var link = document.createElement('a');
    if (typeof link.download === 'string') {
        document.body.appendChild(link); // Firefox requires the link to be in the body
        link.download = filename;
        link.href = song;
        link.click();
        document.body.removeChild(link); // remove the link when done
    } else {
        location.replace(song);
    }
}

function saveFile() {
    var filename = prompt("Please enter file name", "file name");
    var container = createTracks(); //creates midi file to be sent back to library
    $.ajax({
        url: '/edit',
        dataType : "json",
        contentType: "application/json; charset=utf-8",
        data: JSON.stringify({container: container, file: filename}),
        type: 'POST',
        success: function (response) {
            console.log(response);
        },
        error: function (error) {
            console.log(error);
        }
    });
}
function stopPlayer(){
    MIDI.Player.stop();
}

function showData(e) {
    var target_p = document.getElementById("msg_id");
    var target_class = e.target.className;
    var x = document.getElementsByClassName(target_class);
    if (x.length > 0) {
        var key = x[0].getAttribute("data-key");
        var volume = x[0].getAttribute("data-volume");
        var duration = x[0].getAttribute("data-duration");

        var result = "Key: " + key;
        //result += "<br>";
        result += "  Volume: " + volume;
        //result += "<br>";
        result += "  Duration: " + duration;
        //result += "<br>";
        target_p.style.cssText = "text-align: center; color: white;background-color: black;font-weight: bold;";
        target_p.innerHTML = result;
    }
}

function hideData(e) {
    var target_p = document.getElementById("msg_id");
    target_p.innerHTML = '';

}
function makeTableHTML(myArray) {
    var played_notes = new Set();
    var width = columns.length * 5;
    alert(notes.length);

    var result = "<table id='table' style='width: "+width +"%;'>";

    result += "<colgroup>";
    for (var i = 0; i < columns.length+1; i++) { //+1 to account for header column!
        var colwidth = width / columns.length;
        if( i != 0) {

            result += "<col class='col-" + i + " width='" + colwidth + "%'/>"
        }
        else {
            result += "<col class='col-" + i + " width='2%'/>"
        }
    }

    result += "</colgroup>";

    result += "<tbody><tr><th></th>";
    for (var i = 0; i < columns.length; i++) {
        if((columns[i] % 1) != 0) {
            result += "<th class = 'table-header-inv'>"+ Math.floor(columns[i])+"</th>";
        }
        else {
            result += "<th class = 'table-header'>"+ Math.floor(columns[i])+"</th>";
        }

    }
    result += "</tr>";

    var tempArray = myArray;
    for(var i=0; i<tempArray.length; i++) {
        result += "<td class = 'table-header' >" + MIDI.noteToKey[notes[i]] + "</td>";
        var quarter = 0;
        var prev_note = '';
        var note_class = '';
        for(var j=0; j<columns.length; j++){
            var whichId = MIDI.noteToKey[notes[i]] + "_" + columns[j].toString();
            if(tempArray[i][j]== 1) {
                note_class = whichId + "_q";
                played_notes.add(note_class);
                result += "<td id = " + whichId +" class="+note_class+"  onclick='clickAndDrop(event)' ontouchstart='clickAndDrop(event)' " +
                        "ondblclick='editNote(\"" + whichId + "\")'></td>";
                //remove zeros due to colspan
                quarter += 1;
                prev_note = MIDI.noteToKey[notes[i]];
                //if (j < tempArray[i].length)
            } else if (quarter != 0) {
                result += "<td id = " + whichId +" class="+note_class+"  onclick='clickAndDrop(event)' ontouchstart='clickAndDrop(event)' " +
                        "ondblclick='editNote(\"" + whichId + "\")'></td>";
                quarter += 1;
                if (quarter == denominator) {
                    //merge previous cells
                    quarter = 0;
                }
            }
            else {

                result += "<td id = " + whichId +" style='' onclick='clickAndDrop(event)' ontouchstart='clickAndDrop(event)' " +
                        "ondblclick='editNote(\"" + whichId + "\")'></td>";

            }


        }
        result += "</tr>";
    }
    result += "</table>";

    document.getElementById("table-drag").innerHTML = result
    return played_notes;

}

function merge(notes, dur, vol, color) {
    var temp = Array.from(notes);
    for(var i = 0; i < temp.length; i++) {
        var note = temp[i].split('_')[0];
        var table_cell = document.getElementsByClassName(temp[i]);
        dur = duration_dict[temp[i].split('_')[2]]; //CLEAN UP
        for (var j = 0; j < table_cell.length; j++) {
            if (j >= columns.length) {
                break;
            }
            table_cell[j].style.cssText = color;
            table_cell[j].setAttribute("data-key", note);
            table_cell[j].setAttribute("data-duration", dur);
            table_cell[j].setAttribute("data-volume", vol);
            table_cell[j].addEventListener("mouseover", showData, false);
            table_cell[j].addEventListener("mouseout", hideData, false);

        }
    }

}
function addFile(myArray){
    var notes_played = new Set();
    for (var i = 0; i < myArray.length; i++) {
        for (var j = 0; j < myArray[i].length; j++) {
            if(myArray[i][j] == 1) {
                var whichId = MIDI.noteToKey[notes[i]] + "_" + columns[j].toString();
                var whichClass = whichId + "_q";
                notes_played.add(whichClass);
                var column = parseFloat(whichId.split("_")[1]);
                for(var x = 0; x < 4; x++) {
                    //BUG: ADD BOUNDARY
                    var column_temp = column + ((1/(numerator * denominator)) * x);
                    var id_temp = MIDI.noteToKey[notes[i]] + "_" + column_temp.toString();
                   // document.getElementById(id_temp).className = whichClass;
                }
            }
        }
    }
    return notes_played;
}



function editNote(whichId){
    start = '';
    end = '';
    start_class = '';
    //var x = document.getElementById(whichId);
    var x_class_name = document.getElementById(whichId).className;
    var x = document.getElementsByClassName(x_class_name);
    var key = whichId.split('_')[0];
    var duration = tempo;
    var volume = 90;
    if (x.length > 0) {
        duration = x[0].getAttribute("data-duration");
        volume = x[0].getAttribute("data-volume");
    }

    var form = "<div id = 'form'>";
    var notes_duration = ['w', 'h', 'q', 'e', 's'];
    var notes_duration_names = ["Whole", "Half", "Quarter", "Eigth", "Sixteenth"];

    form += "Duration: ";
    for (var i = 0; i < notes_duration.length; i++) {
        var dur_id = 'form_duration_' + notes_duration[i];
        form += "<input type='checkbox' id='"+dur_id+"'>" + notes_duration_names[i];
    }
    //'" + notes_duration[i] + "

    form += "    ";

    form += " Volume: <input type='text' id='form_volume' placeholder='1-200'> ";
    form += "<br><br>";

    form += "<button onclick='updateNote(\"" + whichId + "\")'>" + "Submit" + "</button>   ";
    form += "<button onclick='deleteNote1(\"" + whichId + "\")'>" + "Delete" + "</button>";
    form += "<button onclick='addNote(\"" + whichId + "\")'>" + "Add" + "</button>";
    form += "</div>";

    $('#edit-note').html(form);


}


// delete function
function deleteNote(whichId) {
    document.getElementById(whichId).style.cssText = '';
    document.getElementById(whichId).className = '';


}

function deleteNote1(whichId) {
    var class_name = document.getElementById(whichId).className;
    var x = document.getElementsByClassName(class_name);
    added_notes.delete(class_name);
    var ids = [];
    for (var i = 0; i < x.length; i++) {
        ids.push(x[i].id);
    }
    for (var i = 0; i < ids.length; i++) {
        deleteNote(ids[i]);
    }

}
function updateNote(whichId) {
    var whichClass = document.getElementById(whichId).className;
    added_notes.delete(whichClass);

    var x = document.getElementsByClassName(whichClass);
    if (x.length > 0) {
         var cssText = x[0].style.cssText;

        var volume = document.getElementById("form_volume").value;
        if (volume == '') {
            volume = 90;
        }

        var new_duration = tempo;
        var notes_duration = ['w', 'h', 'q', 'e', 's'];
        var duration_flag = [];
        for (var i = 0; i < notes_duration.length; i++) {
            var dur_id = "form_duration_" + notes_duration[i];
            //ADD BOUNDARY CHECK
            var marked = document.getElementById(dur_id).checked;
            if(marked) {
                new_duration = duration_dict[notes_duration[i]];
                duration_flag = notes_duration[i];
                break;
            }
        }
        //new class name
        var new_class = whichId +"_" +  duration_flag;
        var note_set = new Set();
        note_set.add(new_class);
        //delete old class name
        deleteNote1(whichId);

        //update notes
        var n = num_squares[duration_flag];
        var start_column = whichId.split('_')[1];
        for (var i = 0; i < n; i++) {
            var tmp_column = parseFloat(start_column) + ((1/(numerator * denominator)) * i);
            if (columns.indexOf(tmp_column) == -1)
                break;
            var tmp_id = whichClass.split("_")[0] + '_' + tmp_column.toString();
            document.getElementById(tmp_id).className = new_class;

        }
        merge(note_set, new_duration, volume, cssText);
    }
}

//function to add note
function addNote(whichId) {


    var duration = tempo;
    var notes_duration = ['w', 'h', 'q', 'e', 's'];
    var duration_flag = '';
    for (var i = 0; i < notes_duration.length; i++) {
        var dur_id = "form_duration_" + notes_duration[i];

        var marked = document.getElementById(dur_id).checked;
        if(marked) {
            duration = duration_dict[notes_duration[i]];
            duration_flag = notes_duration[i];
            break;
        }
    }
    //alert(duration);
    var whichClass = whichId + "_" + duration_flag;

    var volume = document.getElementById("form_volume").value;
    if (volume == '') {
        volume = 90;
    }
    var note = whichId.split('_')[0];

    //update note in table
    var notes = new Set();
    notes.add(whichClass);
    added_notes.add(whichClass);
    for (var i = 0; i < num_squares[duration_flag]; i++) {
        //UNDEFINED ERROR
        var column = parseFloat(whichId.split('_')[1]) + ((1/(numerator * denominator))*i);
        if (columns.indexOf(column) == -1)
            break;

        var end_id = note + '_' + column.toString();
        document.getElementById(end_id).className = whichClass;
    }

    var color = "background-color: DarkSlateBlue;";

    merge(notes, duration, volume, color);

}

var start = '';
var start_class = '';
var end = '';
function clickAndDrop(e) {

    if ((start == '') && (end == '')) {
        var t = e.target;

        while(t && !t.id) t = t.parentNode;
        if( t) {

            start_class = (t.className);
            start = t.id;
            if (start == null) {
                start = '';
                start_class = '';
            }

        }
    }
    else if (start != '') {
        //reset ids
        if(start != '') {
            end = e.target.id;
            if (start != end) {
                var end_class_name = end + "_q";
                var notes = new Set();
                notes.add(end_class_name);

                var start_cells = document.getElementsByClassName(start_class);
                var duration = start_cells[0].getAttribute("data-duration");
                var volume = start_cells[0].getAttribute("data-volume");
                var start_ids = [];
                var end_ids = [];
                var cssText = start_cells[0].style.cssText;

                var start_cells_length = start_cells.length;
                for (var i = 0; i < start_cells_length; i++) {
                    start_ids.push(start_cells[i].id);
                }
                for (var i = 0; i < start_cells_length; i++) {
                    deleteNote(start_ids[i]);
                }
                for (var i = 0; i < start_cells_length; i++) {
                    //UNDEFINED ERROR
                   // start_ids.push(start_cells[i].id);
                    var column = parseFloat(end.split('_')[1]) + ((1/(numerator * denominator))*i);
                    if (columns.indexOf(column) == -1)
                        break;
                    var end_id = end.split('_')[0] + '_' + column;
                    end_ids.push(end_id);
                    document.getElementById(end_id).className = end_class_name;
                }


                merge(notes, duration, volume, cssText);
                /*
                var diff = start_ids.filter(function(x) { return end_ids.indexOf(x) < 0 });
                //diff.push(start_ids[start_ids.length-1]);
                for (var j = 0; j < diff.length; j++)  {
                    alert(diff[j]);
                    deleteNote(diff[j]);
                }
                */

            }
        }
        start = '';
        start_class = '';
        end = '';
    }
}
function addBeat() {

}
function updateTimeMeasure() {
    var num_beats = columns.length;
    //var measure = (document.getElementById("time_measure").value).split("/");
    var measure = '';
    if (document.getElementById('time_measure_4/4').checked) {
        measure = '4/4';
        document.getElementById('time_measure_4/4').checked = false;
    }
    else if (document.getElementById('time_measure_3/4').checked) {
        measure = '3/4';
        document.getElementById('time_measure_3/4').checked = false;
    }
    else if (document.getElementById('time_measure_2/4').checked) {
        measure = '4/4';
        document.getElementById('time_measure_2/4').checked = false;
    }

    if (measure != '') {

        //set all
        var played_notes = new Set();
        var table = document.getElementById("table-drag");
        for (var i = 0; i < notes.length; i++) {
            for(var j = 0; j < columns.length; j++){
                var whichClass = MIDI.noteToKey[notes[i]] + "_" + columns[j].toString() + "_q";
                var tmp = document.getElementsByClassName(whichClass);
                if(tmp.length > 0 ) {
                    played_notes.add(whichClass);
                }
            }
        }
        measure = measure.split("/");
        numerator = measure[0];
        denominator = measure[1];

        var new_columns = [];
        for (var i = 0; i < num_beats; i++) {
            x = (i * (1/(numerator*denominator))).toFixed(4);

            new_columns.push(x)
        }

        document.getElementById('table-drag').innerHTML = '';
        columns = new_columns;
        var x = new Array(notes.length);
        //initialize Array
        for (var i = 0; i < x.length; i++) {
            var xlen = data[0][notes[i]].length;
            x[i] = new Array(xlen+1).join('0').split('').map(parseFloat);
        }
        makeTableHTML(x, colors[0]);
        alert(Array.from(played_notes));
        merge(played_notes, duration_dict['q'], 90, "background-color: " +colors[0]+";");

    }
}

function updateTempo() {
    tempo = document.getElementById("tempo").value;
    alert(tempo);
    //loop through and update each duration!
    duration_dict = {'w': tempo*4, 'h': tempo*2, 'q': tempo, 'e': tempo/2, 's': tempo/4};

    var temp_notes = notes;
    var table = document.getElementById('table');


    for (var i = 0; i < notes.length; i++) {
        for(var j = 0; j < columns.length; j++){
            var whichId = MIDI.noteToKey[notes[i]] + "_" + columns[j].toString();
            var whichClass = MIDI.noteToKey[notes[i]] + "_" + columns[j].toString() + "_q";

            //var x = document.getElementById(whichId);
            var x_class = document.getElementById(whichId).className;
            var x = document.getElementsByClassName(whichClass);

            if(x.length > 0 && x_class != '') {
                var dur_flag = x_class.split('_')[2];
                for ( var k = 0; k < x.length; x++) {
                    x[k].setAttribute("data-duration", duration_dict[dur_flag]);
                }

            }

        }
    }

}
</script>

<header>
    <div class="header1">
      <a class="header" id="nav_home" href="{{url_for('homepage')}}">MUSIC COMPOSER</a>
      <br><br>
    </div>
</header>


<body>
<div id = "form-init">
    Time Signature:
    <input type='checkbox' id='time_measure_4/4'> 4/4
     <input type='checkbox' id='time_measure_3/4'> 3/4
     <input type='checkbox' id='time_measure_2/4'> 2/4
    <button onclick="updateTimeMeasure()">Update</button>
    <br>
    Tempo: <input type='text' id='tempo' placeholder='(fast)1-500(slow)'>
    <button onclick="updateTempo()">Update</button>


</div>
<div class = "centerButtons">
    <button onclick="playTable()">Play</button>
    <button onclick="stopPlayer()">Stop</button>
    <button onclick="saveFile()">Save</button>
    <button onclick="exportFile()">Export</button>
    <button onclick="location.href = '{{url_for('library')}}';">Library</button>

</div>
<div id = "table-drag"> </div>

<p id="msg_id"></p>
<div id = "edit-note"></div>

<br>
<div id="menu" style="visibility:hidden">
            <ul>
                <li id="l1">Delete</li>
            </ul>
   </div>
</body>


</html>