<!DOCTYPE HTML>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
    <link rel="stylesheet" href="/static/editStyle.css"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" ></script>
    <script type='text/javascript' src='http://midijs.net/lib/midi.js'></script>
    <script src="../static/midi_files/inc/shim/Base64.js" type="text/javascript"></script>
	<script src="../static/midi_files/inc/shim/Base64binary.js" type="text/javascript"></script>
	<script src="../static/midi_files/inc/shim/WebAudioAPI.js" type="text/javascript"></script>
    <script src="../static/midi_files/inc/shim/WebMIDIAPI.js" type="text/javascript"></script>

    <!-- jasmid package -->
	<script src="../static/midi_files/inc/jasmid/stream.js" type="text/javascript"></script>
	<script src="../static/midi_files/inc/jasmid/midifile.js" type="text/javascript"></script>
	<script src="../static/midi_files/inc/jasmid/replayer.js" type="text/javascript"></script>
	<!-- midi.js package -->
	<script src="../static/midi_files/js/midi/audioDetect.js" type="text/javascript"></script>
	<script src="../static/midi_files/js/midi/gm.js" type="text/javascript"></script>
	<script src="../static/midi_files/js/midi/loader.js" type="text/javascript"></script>
	<script src="../static/midi_files/js/midi/plugin.audiotag.js" type="text/javascript"></script>
	<script src="../static/midi_files/js/midi/plugin.webaudio.js" type="text/javascript"></script>
	<script src="../static/midi_files/js/midi/plugin.webmidi.js" type="text/javascript"></script>
    <script src="../static/midi_files/js/midi/player.js" type="text/javascript"></script>
    <script src="../static/midi_files/js/midi/synesthesia.js" type="text/javascript"></script>

	<!-- utils -->
	<script src="../static/midi_files/js/util/dom_request_xhr.js" type="text/javascript"></script>
	<script src="../static/midi_files/js/util/dom_request_script.js" type="text/javascript"></script>
    <script src="../static/midi_files/midi_file.js" type="text/javascript"></script>
    <script src="../static/midi_files/JZZ.Midi.js" type="text/javascript"></script>
    <script src="../static/midi_files/JZZ.MidiFile.js" type="text/javascript"></script>

</head>

<script>
data = [];
columns = [];
notes = [];
colors = [];

window.onload = function () {
    data = {{ data|tojson }};
    columns = {{ columns|tojson }};
    colors = {{ colors|tojson }};
    notes = {{ notes|tojson }};
    if(data.length > 0) {
        var x = new Array(notes.length);
        //initialize Array
        for (var i = 0; i < x.length; i++) {
            x[i] = data[0][notes[i]];
        }
        var result = makeTableHTML(x, colors[0]);
        $('#table-drag').html(result);

        for(var i = 1; i < data.length; i++) {
            var y = new Array(notes.length);

            for(var j = 0; j < y.length; j++) {
                y[j] = data[i][notes[j]];
            }
            addFile(y, colors[i]);
        }
    }
    else {
        for (var i = 0; i < 12; i++) {
            columns.push(i * (1/4))
        }
        var x = new Array(notes.length);
        //initialize Array
        for (var i = 0; i < x.length; i++) {
            x[i] = [];
        }
        var empty_table = makeTableHTML(x, "DarkSlateBlue");
        $('#table-drag').html(empty_table);
    }


    MIDI.loadPlugin({
		    soundfontUrl: "../static/midi_files/examples/soundfont/",
		    instrument: "acoustic_grand_piano",
		    onprogress: function(state, progress) {
			    console.log(state, progress);
		    },
		    onsuccess: function(evt) {
                console.log(evt);
            }
    });
};

function playTable() {
    //gets table
    var temp_notes = notes;
    var table = document.getElementById('table');
    var container = new Array(table.rows.item(0).cells.length); //go through table and push notes to container
    //loops through rows - index 1 to skip headers
    for (var i = 0; i < table.rows.item(0).cells.length; i++) {
        container[i] = [];
    }
    for (var i = 0; i < notes.length; i++) {
        for(var j = 0; j < columns.length; j++){
            var whichId = MIDI.noteToKey[notes[i]] + "_" + columns[j].toString();


            var x = document.getElementById(whichId);
            if (x.innerHTML != '') {
                //var key = x.querySelector(".key").innerHTML;
                var key = MIDI.noteToKey[notes[i]];
                var duration = x.querySelector(".duration").innerHTML;
                var volume = x.querySelector(".volume").innerHTML;
                var note = {key: key, duration: duration, volume: volume};
                var n = container[j];
                n.push(note);
                container[j] = n;

            }
        }
    }

    //MIDI.setVolume(0, 100,0);

    for(var i = 0; i < container.length; i++) {
        if(container[i] == '') {
            //alert("silent");

            var k = 'C3';
            var d = 128;
            var v = 1;
            var note = {key: k, duration: d, volume: v};
            var n = [];
            n.push(note);
            container[i] = n;
        }
    }
    container = container.filter(function(n){ return n != '' });

    var noteEvents = [];
    container.forEach(function(note) {
        //ADD: pause
        Array.prototype.push.apply(noteEvents, MidiEvent.createNote(note));
    });
    var track = new MidiTrack({ events: noteEvents });
    var song  = MidiWriter({ tracks: [track] });

    var file = "data:audio/midi;base64," + song.b64;
    notes = temp_notes;
    MIDI.Player.loadFile(file, MIDI.Player.start);
    MIDI.Player.start();

}

function stopPlayer(){
    MIDI.Player.stop();
}

function makeTableHTML(myArray, color) {
    var result = "<table id='table'>";
    result += "<colgroup>";
    for (var i = 0; i < columns.length+1; i++) { //+1 to account for header column!
        if( i != 0) {
            var colwidth = 95/ columns.length;
            result += "<col class='col-" + i + "' width='" + colwidth + "%'/>"
        }
        else {
            var colwidth = 5;
            result += "<col class='col-" + i + "' width='" + colwidth + "%'/>"

        }

    }
    result += "</colgroup>";
    result += "<tbody><tr><th></th>";
    for (var i = 0; i < columns.length; i++) {
        if((columns[i] % 1) != 0) {
            result += "<th class = 'table-header-inv'>"+ Math.floor(columns[i])+"</th>";
        }
        else {
            result += "<th class = 'table-header'>"+ Math.floor(columns[i])+"</th>";
        }

    }
    result += "</tr>";
    for(var i=0; i<myArray.length; i++) {
        result += "<td class = 'table-header'>" + MIDI.noteToKey[notes[i]] + "</td>";
        for(var j=0; j<columns.length; j++){
            var whichId = MIDI.noteToKey[notes[i]] + "_" + columns[j].toString();
            var height = 100 / notes.length;
            if(myArray[i][j]== 1) {
                result += "<td id = " + whichId +" class='table-drag' onclick='clickAndDrop(event)' ontouchstart='clickAndDrop(event)' " +
                        "ondblclick='editNote(\"" + whichId + "\");'>" +
                        "<div id = 'drag-" + whichId + "' class='table-drag' draggable ='true' style='border: 2px solid "+color+";'>" +

                        "<div class = 'key'>"+MIDI.noteToKey[notes[i]]+ "</div><div class = 'duration'>"+128+"</div><div class = 'volume'>"+90+"</div>"+
                        "</div>" +
                        "</td>";
            } else {
                result += "<td id = " + whichId +" class='table-drag' onclick='clickAndDrop(event)' ontouchstart='clickAndDrop(event)' " +
                        "ondblclick='editNote(\"" + whichId + "\");'></td>";
            }
        }
        result += "</tr>";
    }
    result += "</table>";

    return result;
}
function addFile(myArray, color){
    for (var i = 0; i < myArray.length; i++) {
        for (var j = 0; j < myArray[i].length; j++) {
            if(myArray[i][j] == 1) {
                var my_id = MIDI.noteToKey[notes[i]] + "_" + columns[j].toString();
                var div = document.createElement("div");
                div.className = 'table-drag';
                var drag_id = "drag-" + my_id;
                div.setAttribute("id", drag_id);
                div.style.cssText = "border: 2px solid " +color+";";

                div.setAttribute("draggable", 'true');

                div.innerHTML = "<div class = 'key'>"+MIDI.noteToKey[notes[i]]+
                                "</div><div class = 'duration'>"+128+
                                "</div><div class = 'volume'>"+90+"</div>";
                document.getElementById(my_id).appendChild(div);
            }
        }
    }
}

function editNote(whichId){
    var x = document.getElementById(whichId);
    var key = whichId.split('_')[0];
    var duration = 128;
    var volume = 90;
    if (x.innerHTML != '') {
        duration = x.querySelector(".duration").innerHTML;
        volume = x.querySelector(".volume").innerHTML;
        key = x.querySelector(".key").innerHTML;
    }

    var form = "<div id = 'form'>";
    form += " Note: <input type='text' id='form_key' placeholder='"+key+"'> ";
    form += "Duration: <input type='text' id='form_duration' placeholder='"+duration+"'>";
    form += " Volume: <input type='text' id='form_volume' placeholder='"+volume+"'> ";
   // alert(whichId);
    form += "<button onclick='updateNote(\"" + whichId + "\")'>" + "Submit" + "</button>   ";
    form += "<button onclick='deleteNote(\"" + whichId + "\")'>" + "Delete" + "</button>";
    form += "<button onclick='addNote(\"" + whichId + "\")'>" + "Add" + "</button>";
    form += "</div>";

    $('#edit-note').html(form);

}

function saveFile() {
    var filename = prompt("Please enter file name", "file name");

    //save track in container!
     //gets table
    var temp_notes = notes;
    var table = document.getElementById('table');
    var container = new Array(table.rows.item(0).cells.length); //go through table and push notes to container
    //loops through rows - index 1 to skip headers
    for (var i = 0; i < table.rows.item(0).cells.length; i++) {
        container[i] = [];
    }
    for (var i = 0; i < notes.length; i++) {
        //var cells = table.rows.item(i).cells;
        var pause = 1;
        for(var j = 0; j < columns.length; j++){
            var whichId = MIDI.noteToKey[notes[i]] + "_" + columns[j].toString();


            var x = document.getElementById(whichId);
            if (x.innerHTML != '') {
                var key = x.querySelector(".key").innerHTML;
                if (key.length == 2) {
                    key = key[0] + '-' + key[1];
                }
                else if (key.length == 3) {
                    key = key[0] + key[1] + '-' + key[2];
                }
                //var duration = x.querySelector(".duration").innerHTML;
                //var volume = x.querySelector(".volume").innerHTML;
                //var note = {key: key, duration: duration, volume: volume};
                var n = container[j];
                n.push(key);
                container[j] = n;

            }
        }
    }
    //code to send song back to library
    $.ajax({
        url: '/edit',
        dataType : "json",
        contentType: "application/json; charset=utf-8",
        data: JSON.stringify({note: container, file: filename}),

        type: 'POST',
        success: function (response) {
            console.log(response);
        },

        error: function (error) {
            console.log(error);
        }
    });


}

// delete function
function deleteNote(whichId) {
    document.getElementById(whichId).innerHTML = '';
}

function updateNote(whichId) {

    var duration = document.getElementById("form_duration").value;
    var volume = document.getElementById("form_volume").value;
    if (duration == '') {
        duration = 128;
    }
    if (volume == '') {
        volume = 90;
    }
    //update note in table
    document.getElementById(whichId).querySelector(".duration").innerHTML = duration;
    document.getElementById(whichId).querySelector(".volume").innerHTML = volume;

}
//function to add note
function addNote(whichId) {
    var duration = document.getElementById("form_duration").value;
    if (duration == '') {
        duration = 128;
    }
    var volume = document.getElementById("form_volume").value;
    if (volume == '') {
        volume = 90;
    }
    var note = document.getElementById("form_key").value;
    if (note != '') {
         //update note in table
        color = "DarkSlateBlue";
        var result = "<div id = 'drag-" + whichId + "' class='table-drag' draggable ='true' style='border: 2px solid "+color+";'>" +
                     "<div class = 'key'>"+note+ "</div><div class = 'duration'>"+duration+"</div><div class = 'volume'>"+volume+"</div>" +
                     "</div>";
        var id = note + '_' + (whichId.split("_"))[1];
        document.getElementById(id).innerHTML = result;
    }
}
//functions for drag and drop
function allowDrop(e) {
    e.preventDefault();
}

var start_id = '';
var end_id = '';
var tmp_div;
function clickAndDrop(e) {
    if ((end_id == '') && (start_id == '')) {
        var t = e.target;
        while(t && !t.id) t = t.parentNode;
        if( t) {

            start_id = (t.id).split('-')[1];
            alert(start_id);
            if (document.getElementById(start_id).innerHTML == "") {
                start_id = '';
            }
            else {
                tmp_div = document.getElementById(t.id);
            }
        }
    }
    else if (start_id != '') {
        e.preventDefault();
        //reset ids
        if(start_id != '') {
            end_id = e.target.id;
            tmp_div.setAttribute("id", "drag-"+end_id);
            document.getElementById(end_id).innerHTML = document.getElementById(start_id).innerHTML;
            deleteNote(start_id);
        }
        start_id = '';
        end_id = '';
    }
}

function updateTimeMeasure() {
    var num_beats = columns.length;
    var measure = (document.getElementById("time_measure").value).split("/");
    if (measure != '') {
         var numerator = measure[0];
        var denominator = measure[1];

        var new_columns = [];
        for (var i = 0; i < num_beats; i++) {
            x = (i * (1/numerator)).toFixed(2);
            new_columns.push(x)
        }
        columns = new_columns;
        var x = new Array(notes.length);
        //initialize Array
        for (var i = 0; i < x.length; i++) {
            x[i] = data[0][notes[i]];
        }
        var result = makeTableHTML(x, colors[0]);
        $('#table-drag').html(result);

        for(var i = 1; i < data.length; i++) {
            var y = new Array(notes.length);

            for(var j = 0; j < y.length; j++) {
                y[j] = data[i][notes[j]];
            }
            addFile(y, colors[i]);
        }
    }

}
</script>

<header>
    <div class="header1">
      <a class="header" id="nav_home" href="{{url_for('homepage')}}">MUSIC COMPOSER</a>
      <br><br>
    </div>
</header>


<body>
<div id = "form">
    Time Measure: <input type='text' id='time_measure' placeholder='4/4'>
    <button onclick="updateTimeMeasure()">Update</button>
</div>
<div id = "edit-note"></div>
<div id = "table-drag"> </div>
<div class = "centerButtons">
    <button onclick="playTable()">Play</button>
    <button onclick="stopPlayer()">Stop</button>
    <button onclick="saveFile()">Export</button>
    <button onclick="location.href = '{{url_for('library')}}';">Library</button>

</div>
<br>
<div id="menu" style="visibility:hidden">
            <ul>
                <li id="l1">Delete</li>
            </ul>
   </div>
</body>


</html>