<!DOCTYPE HTML>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
    <link rel="stylesheet" href="/static/editStyle.css"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" ></script>
    <script type='text/javascript' src='http://midijs.net/lib/midi.js'></script>
    <script src="../static/midi_files/inc/shim/Base64.js" type="text/javascript"></script>
	<script src="../static/midi_files/inc/shim/Base64binary.js" type="text/javascript"></script>
	<script src="../static/midi_files/inc/shim/WebAudioAPI.js" type="text/javascript"></script>
    <script src="../static/midi_files/inc/shim/WebMIDIAPI.js" type="text/javascript"></script>

    <!-- jasmid package -->
	<script src="../static/midi_files/inc/jasmid/stream.js" type="text/javascript"></script>
	<script src="../static/midi_files/inc/jasmid/midifile.js" type="text/javascript"></script>
	<script src="../static/midi_files/inc/jasmid/replayer.js" type="text/javascript"></script>
	<!-- midi.js package -->
	<script src="../static/midi_files/js/midi/audioDetect.js" type="text/javascript"></script>
	<script src="../static/midi_files/js/midi/gm.js" type="text/javascript"></script>
	<script src="../static/midi_files/js/midi/loader.js" type="text/javascript"></script>
	<script src="../static/midi_files/js/midi/plugin.audiotag.js" type="text/javascript"></script>
	<script src="../static/midi_files/js/midi/plugin.webaudio.js" type="text/javascript"></script>
	<script src="../static/midi_files/js/midi/plugin.webmidi.js" type="text/javascript"></script>
    <script src="../static/midi_files/js/midi/player.js" type="text/javascript"></script>
    <script src="../static/midi_files/js/midi/synesthesia.js" type="text/javascript"></script>

	<!-- utils -->
	<script src="../static/midi_files/js/util/dom_request_xhr.js" type="text/javascript"></script>
	<script src="../static/midi_files/js/util/dom_request_script.js" type="text/javascript"></script>
    <script src="../static/midi_files/midi_file.js" type="text/javascript"></script>
    <script src="../static/midi_files/JZZ.Midi.js" type="text/javascript"></script>
    <script src="../static/midi_files/JZZ.MidiFile.js" type="text/javascript"></script>

</head>

<script>
data = [];
played_notes = new Set();
columns = [];
notes = [];
colors = [];
tempo = 128;
window.onload = function () {
    data = {{ data|tojson }};
    columns = {{ columns|tojson }};
    colors = {{ colors|tojson }};
    notes = {{ notes|tojson }};

    if(data.length > 0) {
        var x = new Array(notes.length);
        //initialize Array
        for (var i = 0; i < x.length; i++) {
            x[i] = data[0][notes[i]];
        }
        var result = makeTableHTML(x, colors[0]);
        $('#table-drag').html(result);
        merge(colors[0], played_notes, tempo, 90);
        for(var i = 1; i < data.length; i++) {
            var y = new Array(notes.length);

            for(var j = 0; j < y.length; j++) {
                y[j] = data[i][notes[j]];
            }
            var n = addFile(y);
            alert(n);
            n =
            merge(colors[i], n, tempo, 90);

        }

    }
    else {
        for (var i = 0; i < 12; i++) {
            columns.push(i * (1/4))
        }
        var x = new Array(notes.length);
        //initialize Array
        for (var i = 0; i < x.length; i++) {
            x[i] = [];
        }
        var empty_table = makeTableHTML(x, "DarkSlateBlue");
        $('#table-drag').html(empty_table);
    }
    //merge cells in table
    MIDI.loadPlugin({
		    soundfontUrl: "../static/midi_files/examples/soundfont/",
		    instrument: "acoustic_grand_piano",
		    onprogress: function(state, progress) {
			    console.log(state, progress);
		    },
		    onsuccess: function(evt) {
                console.log(evt);
            }
    });
};

function playTable() {
    //gets table
    var temp_notes = notes;
    var table = document.getElementById('table');
    var container = new Array(table.rows.item(0).cells.length); //go through table and push notes to container
    //loops through rows - index 1 to skip headers
    for (var i = 0; i < table.rows.item(0).cells.length; i++) {
        container[i] = [];
    }
    for (var i = 0; i < notes.length; i++) {
        var check = 0;
        for(var j = 0; j < columns.length; j++){
            //var whichId = MIDI.noteToKey[notes[i]] + "_" + columns[j].toString();
            var whichClass = MIDI.noteToKey[notes[i]] + "_" + columns[j].toString() + "_q";

            //var x = document.getElementById(whichId);
            var x = document.getElementsByClassName(whichClass);
            if(x.length > 0) {
                var key = x[0].getAttribute("data-key");
                var duration = x[0].getAttribute("data-duration");
                var volume = x[0].getAttribute("data-volume");
                var note = {key: key, duration: duration, volume: volume};
                var n = container[j];
                n.push(note);
                container[j] = n;
            }

        }
    }
    //MIDI.setVolume(0, 100,0);

    for(var i = 0; i < container.length; i++) {
        /*
        if(container[i] == '') {
            //alert("silent");

            var k = 'C3';
            var d = 128;
            var v = 1;
            var note = {key: k, duration: d, volume: v};
            var n = [];
            n.push(note);
            container[i] = n;
        }
        */
    }
    container = container.filter(function(n){ return n != '' });

    var noteEvents = [];
    container.forEach(function(note) {
        //ADD: pause
        Array.prototype.push.apply(noteEvents, MidiEvent.createNote(note));
    });
    var track = new MidiTrack({ events: noteEvents });
    var song  = MidiWriter({ tracks: [track] });

    var file = "data:audio/midi;base64," + song.b64;
    notes = temp_notes;
    MIDI.Player.loadFile(file, MIDI.Player.start);
    MIDI.Player.start();

}

function stopPlayer(){
    MIDI.Player.stop();
}

function makeTableHTML(myArray, color) {
    var result = "<table id='table'>";

    result += "<colgroup>";
    for (var i = 0; i < columns.length+1; i++) { //+1 to account for header column!
        if( i != 0) {
            var colwidth = 95/ (columns.length);
            result += "<col class='col-" + i + "' width='" + colwidth + "%'/>"
        }
        else {
            var colwidth = 5;
            result += "<col class='col-" + i + "' width='" + colwidth + "%'/>"

        }

    }

    result += "</colgroup>";

    result += "<tbody><tr><th></th>";
    for (var i = 0; i < columns.length; i++) {
        if((columns[i] % 1) != 0) {
            result += "<th class = 'table-header-inv'>"+ Math.floor(columns[i])+"</th>";
        }
        else {
            result += "<th class = 'table-header'>"+ Math.floor(columns[i])+"</th>";
        }

    }
    result += "</tr>";

    var tempArray = myArray;
    for(var i=0; i<tempArray.length; i++) {
        result += "<td class = 'table-header'>" + MIDI.noteToKey[notes[i]] + "</td>";
        var quarter = 0;
        var prev_note = '';
        var note_class = '';
        for(var j=0; j<columns.length; j++){
            var whichId = MIDI.noteToKey[notes[i]] + "_" + columns[j].toString();
            var height = 100 / notes.length;
            if(tempArray[i][j]== 1) {
                note_class = whichId + "_q";
                played_notes.add(note_class);
                result += "<td id = " + whichId +" class="+note_class+" style='' onclick='clickAndDrop(event)' ontouchstart='clickAndDrop(event)' " +
                        "ondblclick='editNote(\"" + whichId + "\")'></td>";
                //remove zeros due to colspan
                quarter += 1;
                prev_note = MIDI.noteToKey[notes[i]];
                //if (j < tempArray[i].length)
            } else if (quarter != 0) {
                result += "<td id = " + whichId +" class="+note_class+" style='' onclick='clickAndDrop(event)' ontouchstart='clickAndDrop(event)' " +
                        "ondblclick='editNote(\"" + whichId + "\")'></td>";
                quarter += 1;
                if (quarter == 4) {
                    //merge previous cells
                    quarter = 0;
                }
            }
            else {

                result += "<td id = " + whichId +" style='' onclick='clickAndDrop(event)' ontouchstart='clickAndDrop(event)' " +
                        "ondblclick='editNote(\"" + whichId + "\")'></td>";

            }


        }
        result += "</tr>";
    }
    result += "</table>";

    return result;
}

function merge(color, notes, dur, vol) {
    var temp = Array.from(notes);
    for(var i = 0; i < temp.length; i++) {
        var note = temp[i].split('_')[0];
        var table_cell = document.getElementsByClassName(temp[i]);
        for (var j = 0; j < table_cell.length; j++) {
            table_cell[j].style.cssText = "background-color: " +color+";";
            table_cell[j].setAttribute("data-key", note);
            table_cell[j].setAttribute("data-duration", dur);
            table_cell[j].setAttribute("data-volume", vol);
        }
    }

}
function addFile(myArray){
    var notes_played = new Set();
    for (var i = 0; i < myArray.length; i++) {
        for (var j = 0; j < myArray[i].length; j++) {
            if(myArray[i][j] == 1) {
                var whichId = MIDI.noteToKey[notes[i]] + "_" + columns[j].toString();
                var whichClass = whichId + "_q";
                notes_played.add(whichClass);
                var column = parseFloat(whichId.split("_")[1]);
                for(var x = 0; x < 4; x++) {
                    var column_temp = column + (0.0625 * x);
                    var id_temp = MIDI.noteToKey[notes[i]] + "_" + column_temp.toString();
                   // document.getElementById(id_temp).className = whichClass;
                }
            }
        }
    }
    return notes_played;
}



function editNote(whichId){
    start = '';
    end = '';
    start_class = '';
    //var x = document.getElementById(whichId);
    var x_class_name = document.getElementById(whichId).className;
    var x = document.getElementsByClassName(x_class_name);
    var key = x_class_name.split('_')[0];
    var duration = tempo;
    var volume = 90;
    if (x.length > 0) {
        duration = x[0].getAttribute("data-duration");
        volume = x[0].getAttribute("data-volume");
        key = x[0].getAttribute("data-key");
    }

    var form = "<div id = 'form'>";
    form += " Note: <input type='text' id='form_key' placeholder='"+key+"'> ";
    form += "Duration: <input type='text' id='form_duration' placeholder='"+duration+"'>";


    form += " Volume: <input type='text' id='form_volume' placeholder='"+volume+"'> ";
   // alert(whichId);
    form += "<button onclick='updateNote(\"" + whichId + "\")'>" + "Submit" + "</button>   ";
    form += "<button onclick='deleteNote(\"" + whichId + "\")'>" + "Delete" + "</button>";
    form += "<button onclick='addNote(\"" + whichId + "\")'>" + "Add" + "</button>";
    form += "</div>";

    $('#edit-note').html(form);

}

function saveFile() {
    var filename = prompt("Please enter file name", "file name");

    //save track in container!
     //gets table
    var temp_notes = notes;
    var table = document.getElementById('table');
    var container = new Array(table.rows.item(0).cells.length); //go through table and push notes to container
    //loops through rows - index 1 to skip headers
    for (var i = 0; i < table.rows.item(0).cells.length; i++) {
        container[i] = [];
    }
    for (var i = 0; i < notes.length; i++) {
        //var cells = table.rows.item(i).cells;
        var pause = 1;
        for(var j = 0; j < columns.length; j++){
            var whichId = MIDI.noteToKey[notes[i]] + "_" + columns[j].toString();


            var x = document.getElementById(whichId);
            if (x.innerHTML != '') {
                var key = x.querySelector(".key").innerHTML;
                if (key.length == 2) {
                    key = key[0] + '-' + key[1];
                }
                else if (key.length == 3) {
                    key = key[0] + key[1] + '-' + key[2];
                }

                var n = container[j];
                n.push(key);
                container[j] = n;

            }
        }
    }
    //code to send song back to library
    $.ajax({
        url: '/edit',
        dataType : "json",
        contentType: "application/json; charset=utf-8",
        data: JSON.stringify({note: container, file: filename}),

        type: 'POST',
        success: function (response) {
            console.log(response);
        },

        error: function (error) {
            console.log(error);
        }
    });


}

// delete function
function deleteNote(whichId) {
    document.getElementById(whichId).style.cssText = '';
    document.getElementById(whichId).className = '';
}

function updateNote(whichId) {
    var whichClass = document.getElementById(whichId).className;
    var x = document.getElementsByClassName(whichClass);
    var duration = x[0].getAttribute("data-duration");
    var volume = x[0].getAttribute("data-volume");
    if (duration == '') {
        duration = 128;
    }
    if (volume == '') {
        volume = 90;
    }
    //update note in table
    for (var i = 0; i < x.length; x++) {
        x[i].setAttribute("data-duration", duration);
        x[i].setAttribute("data-volume", duration);
    }
}

//function to add note
function addNote(whichId) {

    var whichClass = document.getElementById(whichId) + "_q";

    var duration = document.getElementById("form_duration").value;
    if (duration == '') {
        duration = tempo;
    }
    var volume = document.getElementById("form_volume").value;
    if (volume == '') {
        volume = 90;
    }
    var note = document.getElementById("form_key").value;
    if (note == '') {
        note = whichId.split('_')[0];
    }

    //update note in table
    var notes = new Set();
    notes.add(whichClass);
    for (var i = 0; i < 4; i++) {
        //UNDEFINED ERROR
        var column = parseFloat(whichId.split('_')[1]) + (0.0625*i);
        var end_id = note + '_' + column;
        document.getElementById(whichId).className = whichClass;
    }
    color = "DarkSlateBlue";
    merge(color, notes, duration, volume);
}

var start = '';
var start_class = '';
var end = '';
function clickAndDrop(e) {

    if ((start == '') && (end == '')) {
        var t = e.target;

        while(t && !t.id) t = t.parentNode;
        if( t) {

            start_class = (t.className);
            start = t.id;
            if (start == null) {
                start = '';
                start_class = '';
            }

        }
    }

    else if (start != '') {
        //reset ids
        if(start != '') {

            end = e.target.id;
            if (start != end) {
                 var end_class_name = end + "_q";

                var notes = new Set();
                notes.add(end_class_name);

                var start_cells = document.getElementsByClassName(start_class);
                var duration = start_cells[0].getAttribute("data-duration");
                var volume = start_cells[0].getAttribute("data-volume");
                var ids = [];
                for (var i = 0; i < start_cells.length; i++) {
                    //UNDEFINED ERROR
                    ids.push(start_cells[i].id);
                    var column = parseFloat(end.split('_')[1]) + (0.0625*i);
                    var end_id = end.split('_')[0] + '_' + column;
                    document.getElementById(end_id).className = end_class_name;
                }
                merge(colors[0], notes, duration, volume);
                for (var j = 0; j < ids.length; j++)  {
                    deleteNote(ids[j]);
                }
            }

        }
        start = '';
        start_class = '';
        end = '';
    }
}

function updateTimeMeasure() {
    var num_beats = columns.length;
    var measure = (document.getElementById("time_measure").value).split("/");
    if (measure != '') {
         var numerator = measure[0];
        var denominator = measure[1];

        var new_columns = [];
        for (var i = 0; i < num_beats; i++) {
            x = (i * (1/numerator*denominator)).toFixed(2);
            new_columns.push(x)
        }
        columns = new_columns;
        var x = new Array(notes.length);
        //initialize Array
        for (var i = 0; i < x.length; i++) {
            x[i] = data[0][notes[i]];
        }
        var result = makeTableHTML(x, colors[0]);
        $('#table-drag').html(result);

        for(var i = 1; i < data.length; i++) {
            var y = new Array(notes.length);

            for(var j = 0; j < y.length; j++) {
                y[j] = data[i][notes[j]];
            }
            addFile(y, colors[i]);
        }
    }
}
</script>

<header>
    <div class="header1">
      <a class="header" id="nav_home" href="{{url_for('homepage')}}">MUSIC COMPOSER</a>
      <br><br>
    </div>
</header>


<body>
<div id = "form">
    Time Measure: <input type='text' id='time_measure' placeholder='4/4'>
    <button onclick="updateTimeMeasure()">Update</button>
    Tempo: <input type='text' id='tempo' placeholder='128'>
    <button onclick="">Update</button>


</div>
<div id = "edit-note"></div>
<div id = "table-drag"> </div>
<div class = "centerButtons">
    <button onclick="playTable()">Play</button>
    <button onclick="stopPlayer()">Stop</button>
    <button onclick="saveFile()">Export</button>
    <button onclick="location.href = '{{url_for('library')}}';">Library</button>

</div>
<br>
<div id="menu" style="visibility:hidden">
            <ul>
                <li id="l1">Delete</li>
            </ul>
   </div>
</body>


</html>