<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Music Composer</title>
    <link rel="stylesheet" href="/static/indexStyles.css"/>
</head>
<header>
    <div class="header1">
      <a class="header" id="nav_home" href="{{url_for('homepage')}}">MUSIC COMPOSER</a>
    </div>
</header>
<body>
    <div class="selection">
        <h2>
            <a class="header3" id="nav_play" href="{{url_for('play')}}">Play Music</a>
        </h2>
        <h2>
            <a class="header3" id="nav_compose" href="{{url_for('compose')}}">Compose Music</a>
        </h2>
        <h2>
            <a class="header3" id="nav_library" href="{{url_for('library')}}">Music Library</a>
        </h2>
        <h2>
            <a class="header3" id="nav_settings" href="{{url_for('settings')}}">Settings</a>
        </h2>
    </div>
</body>

<footer style = "position: fixed; bottom:0px;">
<p>
    Brought to you by Nicola, Sasha, Alden and Amit</p>
</footer>
 
</html>