<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Library</title>
    <link rel="stylesheet" href="/static/libraryStyles.css"/>

    <script type='text/javascript' src='http://midijs.net/lib/midi.js'></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" ></script>

    <script type='text/javascript' src='http://midijs.net/lib/midi.js'></script>
    <script src="../static/midi_files/inc/shim/Base64.js" type="text/javascript"></script>
	<script src="../static/midi_files/inc/shim/Base64binary.js" type="text/javascript"></script>
	<script src="../static/midi_files/inc/shim/WebAudioAPI.js" type="text/javascript"></script>
    <script src="../static/midi_files/inc/shim/WebMIDIAPI.js" type="text/javascript"></script>

    <!-- jasmid package -->
	<script src="../static/midi_files/inc/jasmid/stream.js" type="text/javascript"></script>
	<script src="../static/midi_files/inc/jasmid/midifile.js" type="text/javascript"></script>
	<script src="../static/midi_files/inc/jasmid/replayer.js" type="text/javascript"></script>
	<!-- midi.js package -->
	<script src="../static/midi_files/js/midi/audioDetect.js" type="text/javascript"></script>
	<script src="../static/midi_files/js/midi/gm.js" type="text/javascript"></script>
	<script src="../static/midi_files/js/midi/loader.js" type="text/javascript"></script>
	<script src="../static/midi_files/js/midi/plugin.audiotag.js" type="text/javascript"></script>
	<script src="../static/midi_files/js/midi/plugin.webaudio.js" type="text/javascript"></script>
	<script src="../static/midi_files/js/midi/plugin.webmidi.js" type="text/javascript"></script>
    <script src="../static/midi_files/js/midi/player.js" type="text/javascript"></script>
    <script src="../static/midi_files/js/midi/synesthesia.js" type="text/javascript"></script>

	<!-- utils -->
	<script src="../static/midi_files/js/util/dom_request_xhr.js" type="text/javascript"></script>
	<script src="../static/midi_files/js/util/dom_request_script.js" type="text/javascript"></script>
    <script src="../static/midi_files/midi_file.js" type="text/javascript"></script>
    <script src="../static/midi_files/JZZ.Midi.js" type="text/javascript"></script>
    <script src="../static/midi_files/JZZ.MidiFile.js" type="text/javascript"></script>
</head>
<script type="text/javascript">

    window.onload = function () {

	    MIDI.loadPlugin({
		    soundfontUrl: "../static/midi_files/examples/soundfont/",
		    instrument: "acoustic_grand_piano",
		    onprogress: function(state, progress) {
			    console.log(state, progress);
		    },
		    onsuccess: function(evt) {
                console.log(evt);
            }
	    });
    };

    function check(){
        method = "POST";
        var act = "{{ url_for('edit') }}";
        var form = document.createElement("form");
        form.setAttribute("method", method);
        form.setAttribute("action", act);

        {% for filename in library %}
            var marked = document.getElementById("{{ filename }}").checked;
            if(marked){
                var hiddenField = document.createElement("input");
                hiddenField.setAttribute("type", "hidden");
                hiddenField.setAttribute("name", "{{ filename }}");
                hiddenField.setAttribute("value", "{{ filename }}");

                form.appendChild(hiddenField);
            }
        {% endfor %}

        document.body.appendChild(form);
        form.submit();
    }
    function PlayBack(filename) {
        console.log(filename);
        console.log("hello");
        // Play the song
        var file = "../static/library/" + filename;
        console.log(file);
        player = MIDI.Player;
        player.loadFile(file, player.start);
        player.start();
    }

    function checkBox(checkboxId){
        if(document.getElementById(checkboxId).checked){
            document.getElementById(checkboxId).checked = false;
        }
        else{
            document.getElementById(checkboxId).checked = true;
        }
    }
</script>
<header>
    <div class="header1">
      <a class="header" id="nav_home" href="{{url_for('homepage')}}">MUSIC COMPOSER</a>
        <br>
    </div>
</header>

<body>
<table id = "button-table" border="0">
    {% for filename in library %}
    <tr>
     <td width="(100/4)%">>
        <div id="library-form">
		<form method="POST" action="{{url_for('library')}}">
			<input type="checkbox" id="{{ filename }}">
            <button type = "button"id = "filename" onclick = "checkBox('{{filename}}')">{{filename}}</button>
			<input type="hidden" value="{{filename}}" name="filename"/>

			<button type="submit" name="op" value="export">Export</button>
			<button type="submit" name="op" value="discard">Discard</button>

		</form>
            <!--<button type="submit" name="op" value="play" onclick="PlayBack('{{ filename }}')"> Play Back</button> -->
	    </div>
    </td>
    </tr>
    {% endfor %}
</table>
    <button id = "button-edit" type="submit" name="op" value="edit" onclick="check()">Edit</button>

</body>

</html>