<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" ></script>

<head>
    <meta charset="UTF-8">
    <title>Play</title>
    <link rel="stylesheet" href="/static/playStyles.css"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" ></script>

    <script type='text/javascript' src='http://midijs.net/lib/midi.js'></script>
    <script src="../static/midi_files/inc/shim/Base64.js" type="text/javascript"></script>
	<script src="../static/midi_files/inc/shim/Base64binary.js" type="text/javascript"></script>
	<script src="../static/midi_files/inc/shim/WebAudioAPI.js" type="text/javascript"></script>
    <script src="../static/midi_files/inc/shim/WebMIDIAPI.js" type="text/javascript"></script>

    <!-- jasmid package -->
	<script src="../static/midi_files/inc/jasmid/stream.js" type="text/javascript"></script>
	<script src="../static/midi_files/inc/jasmid/midifile.js" type="text/javascript"></script>
	<script src="../static/midi_files/inc/jasmid/replayer.js" type="text/javascript"></script>
	<!-- midi.js package -->
	<script src="../static/midi_files/js/midi/audioDetect.js" type="text/javascript"></script>
	<script src="../static/midi_files/js/midi/gm.js" type="text/javascript"></script>
	<script src="../static/midi_files/js/midi/loader.js" type="text/javascript"></script>
	<script src="../static/midi_files/js/midi/plugin.audiotag.js" type="text/javascript"></script>
	<script src="../static/midi_files/js/midi/plugin.webaudio.js" type="text/javascript"></script>
	<script src="../static/midi_files/js/midi/plugin.webmidi.js" type="text/javascript"></script>
    <script src="../static/midi_files/js/midi/player.js" type="text/javascript"></script>
    <script src="../static/midi_files/js/midi/synesthesia.js" type="text/javascript"></script>

	<!-- utils -->
	<script src="../static/midi_files/js/util/dom_request_xhr.js" type="text/javascript"></script>
	<script src="../static/midi_files/js/util/dom_request_script.js" type="text/javascript"></script>
    <script src="../static/midi_files/midi_file.js" type="text/javascript"></script>
    <script src="../static/midi_files/JZZ.Midi.js" type="text/javascript"></script>
    <script src="../static/midi_files/JZZ.MidiFile.js" type="text/javascript"></script>
</head>
<script type="text/javascript">

    octave = 4;
    all_notes = ["C","C#", "D", "D#", "E", "F", "F#", "G", "G#", "A", "A#", "B"];

    var id_convert = {90:'C', 83:'C#', 88:'D', 68:'D#', 67:'E', 86:'F', 71:'F#',
        66:'G', 72:'G#', 78:'A', 74:'A#', 77:'B'};
    var id_to_note = {0:'C', 1: 'C#', 2:"D", 3:"D#", 4:"E", 5:"F", 6:"F#",
        7:"G", 8:"G#", 9:"A", 10:"A#", 11:"B"};
    var note_to_modulus = { 'C':0, 'C#':1, 'D':2, 'D#':3, 'E':4, 'F':5, 'F#':6,
            'G':7, 'G#':8, 'A':9, 'A#':10, 'B':11 };

    window.onload = function () {

        document.getElementById('oct').innerHTML = "Current octave: " + octave;

        //add event listeners for all of the notes
        var theParent = document.querySelector(".piano");
        theParent.addEventListener("mousedown", clickDown, false);
        theParent.addEventListener("mouseup", clickUp, false);
        theParent.addEventListener("touchstart", clickDown, false);
        theParent.addEventListener("touchend", clickUp, false);

	    MIDI.loadPlugin({
		    soundfontUrl: "../static/midi_files/examples/soundfont/",
		    instrument: "acoustic_grand_piano",
		    onprogress: function(state, progress) {
			    console.log(state, progress);
		    },
		    onsuccess: function(evt) {
			    console.log(evt);
		    }
	    });
    };

    function clickDown(e) {
        if (e.target !== e.currentTarget) {
            var id = e.target.id;
            PlayClickedNote(id);
            document.getElementById(id).style.background = "cornflowerblue";
        }
        e.stopPropagation();
        e.preventDefault();
    }

    function clickUp(e) {
        var id = e.target.id;

        var div = document.getElementById(id);
            var hasClass = div.classList.contains('whitekey');
            if (hasClass == true) {

                document.getElementById(id).style.background = "white";
            }
            else {
                document.getElementById(id).style.background = "black";
            }

    }

    function PlayNote(note) {
        var delay = 0; // play one note every quarter second
        var velocity = 127; // how hard the note hits
        MIDI.setVolume(0, 127);
        MIDI.chordOn(0, note, velocity, delay);
        MIDI.chordOff(0, note, delay + 0.75);
    }
    function LowOctave() {
        //BUG: sometimes if JS lags, doesn't change octave right away
       if(octave >= 3){
           octave = octave - 1;
       }
       document.getElementById('oct').innerHTML = "Current octave: " + octave;
    }

    function HighOctave() {
       //BUG: sometimes if JS lags, doesn't change octave right away
       if(octave <= 7){
           octave = octave +1;
       }
       document.getElementById('oct').innerHTML = "Current octave: " + octave;
    }

    queue = [];
    play_song = 0;
    song = '';



    function startPlayAlong(id) {
        //reset play along
        stopPlayAlong();
        play_song = 1;
        var music = {{ music|tojson }};

        queue = music[id];
        var chord = queue[0];
        for (var i = 0; i < chord.length; i++) {
            var x = id_to_note[chord[i] % 12];
            document.getElementById(x).style.background = "rosybrown";
        }
    }

    function stopPlayAlong() {
        play_song = 0;
        queue = [];
        for (var i = 0; i < all_notes.length; i++) {
            var div = document.getElementById(all_notes[i]);
            var hasClass = div.classList.contains('whitekey');
            if (hasClass == true) {

                document.getElementById(all_notes[i]).style.background = "white";
            }
            else {
                document.getElementById(all_notes[i]).style.background = "black";
            }
        }
    }


    function PlayClickedNote(key) {
        if (play_song == 1) {
            var chord = queue[0];
            var correct = 0;

            for(var i = 0; i < chord.length; i++) {
                if (chord[i]%12 == note_to_modulus[key]) {
                    correct = 1;
                    break;
                }
            }
            if(correct == 1) {
                for (var i in chord) {
                     var x = chord[i] % 12;
                        var div = document.getElementById(id_to_note[x]);
                        var hasClass = div.classList.contains('whitekey');
                        if (hasClass == true) {
                            document.getElementById(id_to_note[x]).style.background = "white";
                        }
                        else {
                            document.getElementById(id_to_note[x]).style.background = "black";
                        }
                }
                PlayNote(chord);
                queue.shift();
                //highlight next keys
                if(queue.length > 0) {
                    var next_chord = queue[0];
                    for(var i in next_chord) {
                        var x = next_chord[i] % 12;
                        document.getElementById(id_to_note[x]).style.background = "rosybrown";
                    }
                }

            }
        }
        else {
            o = octave; //BUG: OCTAVE
            var map = { 'C':12*o, 'C#':12*o+1, 'D':12*o+2, 'D#':12*o+3, 'E':12*o+4, 'F':12*o+5, 'F#':12*o+6,
                'G':12*o+7, 'G#':12*o+8, 'A':12*o+9, 'A#':12*o+10, 'B':12*o+11 };
            var notes = [];
            var x = map[key];
            notes.push(x);
            PlayNote(notes);
        }
    }

    var keys = {};
    var note_modulos = { 90:0, 83:1, 88:2, 68:3, 67:4, 86:5, 71:6,
        66:7, 72:8, 78:9, 74:10, 77:11};


    document.onkeydown = function (event) {
        var note_map = { 90:12*octave, 83:12*octave+1, 88:12*octave+2, 68:12*octave+3, 67:12*octave+4,
            86:12*octave+5, 71:12*octave+6, 66:12*octave+7, 72:12*octave+8, 78:12*octave+9,
            74:12*octave+10, 77:12*octave+11 };

        keys[event.which] = true;

        if (87 in keys) {
            LowOctave();
        }
        else if (82 in keys) {
            HighOctave();
        }
        else {
            if(play_song == 1) {
             var played_notes = {};



            for (var i in keys) {
                played_notes[note_modulos[i]] = true;
            }
            var chord = queue[0]; //peak at tp of queue
            var correct = 0;
            for(var i = 0; i < chord.length; i++) {
                if (chord[i]%12 in played_notes) {
                    correct = 1;
                    break;
                }
            }

            if(correct == 1) {
                for (var i in chord) {
                     var x = chord[i] % 12;
                        var div = document.getElementById(id_to_note[x]);
                        var hasClass = div.classList.contains('whitekey');
                        if (hasClass == true) {
                            document.getElementById(id_to_note[x]).style.background = "white";
                        }
                        else {
                            document.getElementById(id_to_note[x]).style.background = "black";
                        }
                }
                PlayNote(chord);
                queue.shift();
                //highlight next keys
                if(queue.length > 0) {
                    var next_chord = queue[0];
                    for(var i in next_chord) {
                        var x = next_chord[i] % 12;
                        document.getElementById(id_to_note[x]).style.background = "rosybrown";
                    }
                }

            }
        }
        else {
            var notes = [];
            for (var i in keys) {
                notes.push(note_map[i]);
                if(id_convert[i] != null) {
                    document.getElementById(id_convert[i]).style.background = "cornflowerblue";
                }
            }
            PlayNote(notes);
        }
        }

    };
    document.onkeyup = function(event) {
        for (var i in keys) {
          if(id_convert[i] != null) {
              var div = document.getElementById(id_convert[i]);
              var hasClass = div.classList.contains('whitekey');
              if (hasClass == true) {
                  document.getElementById(id_convert[i]).style.background = "white";
              }
              else {
                  document.getElementById(id_convert[i]).style.background = "black";
              }
          }
        }
        delete keys[event.which];
    };
    //event handlers

</script>
<header>
    <div class="header1">
      <a class="header" id="nav_home" href="{{url_for('homepage')}}">MUSIC COMPOSER</a>
        <br>
        <br>
    </div>
</header>
<body>
    <br><br><br>
    <p id="oct"></p>
    <div class = "centerButtons">
         <button onclick="LowOctave()">Lower Octave (w)</button>
         <button onclick="HighOctave()">Higher Octave (r)</button>
    </div>
    <div class = piano>
    <ul>
        <li class = "key">
            <span class="whitekey" id = "C">Z</span>
            <span class="blackkey" id = "C#">S</span>
        </li>
        <li class = "key">
            <span class="whitekey" id = "D">X</span>
            <span class="blackkey" id = "D#">D</span>
        </li>
        <li class = "key">
            <span class="whitekey" id = "E">C</span>
        </li>
        <li class = "key">
            <span class="whitekey" id = "F">V</span>
            <span class="blackkey" id = "F#">G</span>
        </li>
        <li class = "key">
            <span class="whitekey" id = "G">B</span>
            <span class="blackkey" id = "G#">H</span>
        </li>
        <li class = "key">
            <span class="whitekey" id = "A">N</span>
            <span class="blackkey" id = "A#">J</span>
        </li>
        <li class = "key">
            <span class="whitekey" id = "B">M</span>
        </li>

    </ul>
    </div>
    <div class = "centerButtons">
         <button onclick="startPlayAlong(2)">Moonlight Sonata (Beethoven)</button>
         <button onclick="startPlayAlong(1)">Fantasie Impromptu (Chopin)</button>
         <button onclick="startPlayAlong(0)">Fur Elise (Beethoven)</button>
         <button onclick="stopPlayAlong()">Stop Play Along</button>

    </div>

</body>
</html>