<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Music Composer</title>
    <link rel="stylesheet" href="/static/composeStyle.css"/>
</head>
<header>
    <div class="header1">
      <a class="header" id="nav_home" href="{{url_for('homepage')}}">Music Composer</a>
    </div>
</header>
<h1>Settings</h1>
<body>

</body>

<footer>
<p>
    Brought to you by Nicola, Sasha, Alden and Amit</p>
</footer>

</html>